- provide(:title, page_title(['About']))

%h1 About RailsBridge.
%h3 We teach people to code because we believe that the people making technology should accurately reflect the diversity of those using it.
%h3 We want to push for all kinds of diversity in tech: gender, race, sexual orientation, ability, and class. Women were the first population we focused on, but aren't the last.
%h3 We value acceptance, enthusiasm, and hard work. The RailsBridge community thrives on optimism and a love for making great things. 
%h2 What's a RailsBridge?
%p Our most well-known efforts are free weekend workshops where women learn Ruby on Rails from volunteers. The students at our workshops range from folks who are completely new to programming to QA engineers and professional developers who want to learn Rails. During the Installfest (usually on a Friday evening), we get students' laptops setup with the requisite technologies. The next day, we break into small group based on experience level and build a web app! (When we aren't teaching Ruby and Rails, we teach HTML & CSS.)
%h2 Origin Story
%p Back in the heady days of of June 2009, the #{ link_to "San Francisco Ruby community", "http://www.sfruby.info" } stood at about 97% men, and 3% women. RailsBridge was started as an effort to even that out a bit. #{ link_to "Sarah Mei", "https://github.com/sarahmei" } and #{ link_to "Sarah Allen", "https://github.com/ultrasaurus" } figured that there were more women in (at that time) popular languages like PHP and Java, and if they could show them the wonder of developing in Ruby, perhaps they could change the SF Ruby community's makeup.
%p And so they held a workshop. They sent a few emails out, including one to a women in technology mailing list, and within 24 hours, the workshop was full. It turned out every speculation of "Well, maybe there aren't more women in programming because they just aren't interested" was 100% rubbish (as we all knew), and there has been an insatiable appetite for education and community every since that first workshop.
%p The Open Workshop project (at it was then known) was just one part of RailsBridge. RailsBridge also put on Rails Bug Mashes (or bug smashes, depending on who you ask), taught Ruby to kids, set up online mentoring, and sponsored other projects. Over time, the name RailsBridge has become synonymous with the workshops.
%h2 Where is RailsBridge?
%p Everywhere! This thing started in San Francsico (and workshops happen there at the alarming rate of one to two per month), but workshops have popped up all over the world, thanks to enterprising organizers who have donated their time to make workshops happen in their communities. Check out our #{ link_to "past events", :past_events } and our #{ link_to "chapters page", :chapters } to see all the different places that workshops happen.
%p Some places have workshops regularly, and sometime worskhops can be independent, one-time events put on by people trying to make their Ruby communities more diverse. Workshops are also put on in conjunction with tech conferences. #{ link_to "Desi McAdam", "https://github.com/desi" }, #{ link_to "Renée De Voursney", "https://github.com/reneedv" }, and #{ link_to "Sarah Mei", "https://github.com/sarahmei" } are all in the wonderful habit of organizing and teaching workshops at conferences they're attending.
%h2 Who's in charge?
%p 
  You are! Or perhaps you will be in the future. RailsBridge is extremely non-heierarchical, and we believe strongly that we should have a high #{ link_to "bus number", "http://en.wikipedia.org/wiki/Bus_factor" }. As an organization whose output is entirely #{ link_to "open source", "http://en.wikipedia.org/wiki/Open_source" }, all of RailsBridge's growth is a result of the efforts of members of the community
  \&mdash;
  people who see an opportunity for improvement and make it happen. (The legal structure of the organization is in the process of transitioning from a California corporation to a project under #{ link_to "School Factory", "http://schoolfactory.org/" }.)
%h2 Want more?
%p Here are just a few writeups about RailsBridge and its impact on individual people and the larger Ruby community: 
%ul
  %li
    #{ link_to "Sarah Allen: Once Upon a Time (slide deck)", "http://www.slideshare.net/sarah.allen/once-upon-a-time-1609821"}
  %li
    #{ link_to "Sarah Mei: Moving the Needle: How SF Ruby Got to 18% (slide deck)", "http://www.sarahmei.com/blog/2010/02/20/scale-8x-slides-posted/"}
  %li
    #{ link_to "Melanie Archer: Ada Lovelace Day: The Sarahs", "http://twobanjos.com/blog/2010/03/ada-lovelace-day-the-sarahs/"}
  %li
    #{ link_to "Lillie Chilen: RailsBridge Changed my Life", "http://lillielillie.tumblr.com/post/20468092441/railsbridge-changed-my-life"}