- provide(:title, page_title(['Chapters']))

%h1 RailsBridge Chapters.

%p Some chapters have workshops yearly, some quarterly, and some monthly. Check 'em out!
%p.help-us If you organize workshops and your chapter isn't listed here, let us know! You can either make a #{ link_to "pull request", "https://github.com/railsbridge/site_de_railsbridge_2013" } (if you know how) or #{ link_to "create an issue", "https://github.com/railsbridge/site_de_railsbridge_2013/issues/new" } (no technical knowledge required).
.feature-standalone
  .feature
    .feature-icon.icon-3x.icon-rocket
    %h4 RailsBridge {Mothership}
    %ul
      %li= link_to '@RailsBridge', 'https://twitter.com/railsbridge', class: 'twitter', target: '_blank'
      %li= link_to 'Facebook.com/railsbridge', 'https://www.facebook.com/railsbridge', class: 'facebook', target: '_blank'
      %li= link_to 'LinkedIn Alumni Network', 'http://www.linkedin.com/groups/RailsBridge-Alumni-Network-2123131?gid=2123131&trk=group-name', class: 'linkedin', target: '_blank'
.row-fluid
  .span12
    %h2 West Coast
    .chapter-box
      %h4 Los Angeles, California
      %ul
        %li
          Sign up at
          %a{ href: "http://www.meetup.com/Los-Angeles-Womens-Ruby-on-Rails-Group/", target: "_blank" } meetup.com/Los-Angeles-Womens-Ruby-on-Rails-Group
    .chapter-box
      %h4 San Diego, California
      %ul
        %li
          Sign up at
          %a{ href: "http://www.meetup.com/San-Diego-RailsBridge/", target: "_blank" } meetup.com/San-Diego-RailsBridge
        %li
          Follow
          %a{ href: "http://www.twitter.com/railsbridgesd", target: "_blank" } @RailsBridgeSD
          for updates!
    .chapter-box
      %h4 San Francisco, California
      %ul
        %li
          Sign up at
          %a{ href: "http://bridgetroll.org/", target: "_blank" } bridgetroll.org
        %li
          Follow
          %a{ href: "http://www.twitter.com/railsbridge", target: "_blank" } @RailsBridge
          for updates!
    .chapter-box
      %h4 Silicon Valley, California
      %ul
        %li
          Sign up at
          %a{ href: "http://www.meetup.com/silicon-valley-ruby/", target: "_blank" } meetup.com/silicon-valley-ruby
        %li
          Follow
          %a{ href: "https://twitter.com/railsbridgeSV", target: "_blank" } @RailsBridgeSV
          for updates!
    .chapter-box
      %h4 Seattle, Washington
      %ul
        %li
          Sign up at
          %a{ href: "http://www.meetup.com/SeattleRailsBridge/", target: "_blank" } meetup.com/SeattleRailsBridge

.row-fluid
  .span12
    %h2 Central
    .chapter-box
      %h4 Denver/Boulder/Fort Collins, Colorado
      %ul
        %li
          Sign up at
          %a{ href: "http://www.meetup.com/Boulder-Denver-Railsbridge/", target: "_blank" } meetup.com/Boulder-Denver-Railsbridge
    .chapter-box
      %h4 Chicago, Illinois
      %ul
        %li
          Sign up at
          %a{ href: "http://www.meetup.com/Chicago-Ruby-on-Rails-Outreach-Workshop-for-Women/", target: "_blank" } meetup.com/Chicago-Ruby-on-Rails-Outreach-Workshop-for-Women 
    .chapter-box
      %h4 Indianapolis, Indiana
      %ul
        %li
          Online at
          %a{ href: "http://www.railsbridgeindy.org/", target: "_blank" } railsbridgeindy.org
    .chapter-box
      %h4 Minnesota
      %ul
        %li
          Follow
          %a{ href: "https://twitter.com/railsbridgeMN", target: "_blank" } @railsbridgeMN
          for updates!
    .chapter-box
      %h4 Madison, Wisconsin
      %ul
        %li
          Online at
          %a{ href: "http://madisonruby.org/", target: "_blank" } MadisonRuby.org
.row-fluid
  .span12
    %h2 East Coast
    .chapter-box
      %h4 Panama City, Florida
      %ul
        %li
          Sign up at
          %a{ href: "http://www.meetup.com/pixelworkers/", target: "_blank" } meetup.com/pixelworkers
        %li
          Online at
          %a{ href: "http://railsbridgepc.github.com/", target: "_blank" } railsbridgepc.github.com
    .chapter-box
      %h4 Savannah, Georgia
      %ul
        %li
          Sign up at
          %a{ href: "http://rubysavannah.com/", target: "_blank" } rubysavannah.com
    .chapter-box
      %h4 Kentucky
      %ul
        %li
          Follow
          %a{ href: "https://twitter.com/railsbridgeky", target: "_blank" } @RailsBridgeKY
          for updates!
    .chapter-box
      %h4 Boston, Massachusetts
      %ul
        %li
          Sign up at
          %a{ href: "http://www.railsbridgeboston.org", target: "_blank" } railsbridgeboston.org
        %li
          Follow
          %a{ href: "https://twitter.com/RailsBridgeBos", target: "_blank" } @RailsBridgeBos
          for updates!
        %li
          %a{ href: "https://groups.google.com/forum/#!forum/railsbridge-boston-alumni", target: "_blank" } Boston alumni mailing list
    .chapter-box
      %h4 New York City, New York
      %ul
        %li
          Online at 
          %a{ href: "http://railsbridgenyc.org/", target: "_blank" } railsbridgenyc.org
        %li
          Follow 
          %a{ href: "https://twitter.com/RailsBridgeNYC", target: "_blank" } @RailsBridgeNYC
          for updates!
.row-fluid
  .span12
    %h2 Canada & Global
    .chapter-box
      %h4 Mexico
      %ul
        %li
          Sign up at
          %a{ href: "http://www.meetup.com/RailsBridgeMx/", target: "_blank" } meetup.com/RailsBridgeMx
        %li
          Follow
          %a{ href: "https://twitter.com/railsbridgeMx", target: "_blank" } @RailsBridgeMx
          for updates!
    .chapter-box
      %h4 Montr&eacute;al, Quebec
      %ul
        %li
          Sign up at
          %a{ href: "http://www.railsbridge-montreal.com/", target: "_blank" } railsbridge-montreal.com
    .chapter-box
      %h4 Capetown, South Africa
      %ul
        %li
          Sign up at
          %a{ href: "http://railsbridgecapetown.org/", target: "_blank" } railsbridgecapetown.org

    .chapter-box
      %h4
      %ul
        %li Events also happen in places where RailsBridge volunteers go, especially in conjunction with conferences!
