<% provide(:title, page_title(['Helping'])) %>

<div class="container">

  <h1>Want to help RailsBridge?</h1>

  <div class="row">
    <div class="span6">
      <h2>There are so many ways you can!</h2>

      <h3>Teachers, TAs, and Organizers Needed</h3>

      <p>The most visible volunteer positions within RailsBridge are the worshop organizers, teachers, and TAs. They make each workshop happen! If you're interested in teaching, check out the <%= link_to "RailsBridge chapters", :about_chapters %> to see if one is coming up near you.</p> 

      <p>If you're interested in organizing, check out the <%= link_to("organizing page", :organizing)%> and <%= link_to "fill out our short interest form", :interest_form %>!</p>
      
      
    </div>
    
    <div class="span5 offset1">

      <div class='feature-list cell12 pad0'>
        <div class='feature clearfix pad2 feature-1'>
          <div class='illustration'><div class="icon-4x icon-book"></div></div>
          <h4>Teach or TA</h4>
          <small>
            <ul>
              <li>Teaching Resources</li>
              <li>Chapter List</li>
              <li>Upcoming Events</li>
            </ul>
          </small>
        </div>
        <div class='feature clearfix pad2 feature-2'>
          <div class='illustration'><div class="icon-4x icon-map-marker"></div></div>
          <h4>Organize, Sponsor or Host an Event</h4>
          <small>
            <ul>
              <li>Hosting Resources</li>
            </ul>
          </small>
        </div>
        <div class='feature clearfix pad2 feature-3'>
          <div class='illustration'><div class="icon-4x icon-money"></div></div>
          <h4>Be a Sponsor</h4>
          <small>
            <ul>
              <li>Donor FAQ</li>
            </ul>
          </small>
        </div>
        </div>
        </div>
        </div>
<div class="row">

    <h3>So many other ways to help, too!</h3>

    <p>There are <em>ton</em> of other things that have to happen to keep RailsBridge thriving. If any of these things are in your wheelhouse, get in touch via our short <%= link_to "volunteer interest form", :interest_form %>.
    

    <div class="span12">
      <div class='feature-list cell12 pad0'>
        <div class='feature-list cell12 pad0'>
          <div class='feature clearfix pad2 feature-1'>
            <div class="row">
              <div class="span6">
            <div class='feature clearfix pad2 feature-1'>
              <div class='illustration'><div class="icon-4x icon-book"></div></div>
              <h4>Curriculum Stuff</h4>
              <small>
                <ul>
                  <li>Maintain and create new curricula</li>
                  <li>Keeping the constantly-changing Installfest up-to-date</li>
                  <li>Help our teachers level up by creating more in-depth teacher training</li>
                </ul>
              </small>
            </div>
            <div class='feature clearfix pad2 feature-2'>
              <div class='illustration'><div class="icon-4x icon-map-marker"></div></div>
              <h4>Building Tools</h4>
              <small>
                <ul> 
                  <li>We're trying to make organizing easier with Bridge Troll, an open source app we're buidling</li>
                  <li>We want to make tools to help students figure out what to learn next!</li>
                </ul>
              </small>
            </div>

          </div>
          <div class="span5">

            <div class='feature clearfix pad2 feature-3'>
              <div class='illustration'><div class="icon-4x icon-money"></div></div>
              <h4>Communicating</h4>
              <small>
                <ul>
                  <li>We need to tell the world what we're doing! PR dabblers welcome!</li>
                  <li>Blogging. Writers are the best.</li>
                  <li>Tweeting, Facebooking, LinkedIn-ing: social media is fun.</li>
                </ul>
              </small>
            </div>

            <div class='feature clearfix pad2 feature-4'>
              <div class='illustration'><div class="icon-4x icon-money"></div></div>
              <h4>Strategy and Fundraising</h4>
              <small>
                <ul>
                  <li>We're building an organization called Bridge Foundry to help us (and other orgs) manage our funds (and people) better!</li>
                  <li>RailsBridge is growing a ton, and we can always use strategists and do-ers to help us think big and make those epic plans a reality</li>
                </ul>
              </small>
            </div>


          </div>
</div>
          </div>
        </div>
        <div class="span3">
          <div class='feature-list cell12 pad0'>

      </div>
      </div>
      <div class="span3">
        <div class='feature-list cell12 pad0'>          
        
        
      </div>
      </div>
      <div class="span3">
        <div class='feature-list cell12 pad0'>
                
      </div>

      </div>
    </div>
    </div>
  </div>
    


    <div class='helping'>
      <div class="container">
        <div class="row">
          <div class="span3">
            <div class="icon-4x icon-book"></div>
            <h4>Curriculum Stuff</h4>
            <ul>
              <li>Maintaining the various curriucla we offer</li>
              <li>Writing new curricula</li>
              <li>Keeping the constantly-changing Installfest up-to-date</li>
              <li>Help our teachers level up by creating more in-depth teacher training</li>
            </ul>
          </div>
          <div class="span3">
            <div class="icon-4x icon-map-marker"></div>
            <h4>Building Tools</h4>
            <ul> 
              <li>We're trying to make organizing easier with Bridge Troll, an open source app we're buidling</li>
              <li>We want to make tools to help students figure out what to learn next!</li>
            </ul>
          </div>
          <div class="span3">
            <div class="icon-4x icon-money"></div>
            <h4>Communication</h4>
            <ul>
              <li>We need to tell the world what we're doing! PR dabblers welcome!</li>
              <li>Blogging. Writers are the best.</li>
              <li>Tweeting, Facebooking, LinkedIn-ing: social media is fun.</li>
            </ul>
          </div>
          <div class="span3">
            <div class="icon-4x icon-book"></div>
            <h4>Strategy and Fundraising</h4>
            <ul>
              <li>We're building an organization called Bridge Foundry to help us (and other orgs) managae our funds (and people) better!</li>
              <li>RailsBridge is growing a ton, and we can always use strategists and do-ers to help us think big and make those epic plans a reality</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="teaching">
  <div class="container">
  
  
  </div>
  
</div>
    
    
    
    <!--
    
    
    <div class='feature-list cell12 pad0'>
      <div class='feature clearfix pad2 feature-1'>
        <div class='illustration'><div class="icon-4x icon-book"></div></div>
        <h4>Teach or TA</h4>
        <small>
          <ul>
            <li>Teaching Resources</li>
            <li>Chapter List</li>
            <li>Upcoming Events</li>
          </ul>
        </small>
      </div>
      <div class='feature clearfix pad2 feature-2'>
        <div class='illustration'><div class="icon-4x icon-map-marker"></div></div>
        <h4>Host an Event</h4>
        <small>
          <ul>
            <li>Hosting Resources</li>
          </ul>
        </small>
      </div>
      <div class='feature clearfix pad2 feature-3'>
        <div class='illustration'><div class="icon-4x icon-money"></div></div>
        <h4>Be a Sponsor</h4>
        <small>
          <ul>
            <li>Donor FAQ</li>
          </ul>
        </small>
      </div>
    </div>
    <div class="span5">

      <div class='feature-list cell12 pad0'>
        <div class='feature clearfix pad2 feature-1'>
          <div class='illustration'><div class="icon-4x icon-book"></div></div>
          <h4>Teach or TA</h4>
          <small>
              MapBox.js is built on top of Leaflet, the most
              established and robust open source mapping library.

              It's easy to get started or to transition from the Google Maps API.
          </small>
        </div>
        <div class='feature clearfix pad2 feature-2'>
          <div class='illustration'><div class="icon-4x icon-map-marker"></div></div>
          <h4>Host an Event</h4>
          <small>
              We offer full browser support, including modern desktop
              browsers like Chrome, Safari and Firefox, mobile browsers
              from Android and Apple, and Internet Explorer 8 - 10.
          </small>
        </div>
        <div class='feature clearfix pad2 feature-3'>
          <div class='illustration'><div class="icon-4x icon-money"></div></div>
          <h4>Be a Sponsor</h4>
          <small>
              Open source plugins for the API mean access to a wide range
              of features without including a big library that slows down
              your website.
          </small>
        </div>
      </div>

      
    </div>
  </div>

  
  <div class="row">
    <div class="span5">
      <h3>So many other ways to help, too!</h3>

      <p>There are <em>ton</em> of other things that have to happen to keep RailsBridge thriving. If any of these things are in your wheelhouse, get in touch via our short <%= link_to "volunteer interest form", :interest_form %>.
    </div>

    <div class="span7">

<!--
  <div class='feature-list cell12 pad0'>
    <div class='feature clearfix pad2 feature-1'>
      <div class='illustration'><div class="icon-4x icon-book"></div></div>
      <h4>Curriculum Stuff</h4>
      <small>
        <ul>
          <li>Maintaining the various curriucla we offer</li>
          <li>Writing new curricula</li>
          <li>Keeping the constantly-changing Installfest up-to-date</li>
          <li>Help our teachers level up by creating more in-depth teacher training</li>
        </ul>
      </small>
    </div>
    <div class='feature clearfix pad2 feature-2'>
      <div class='illustration'><div class="icon-4x icon-map-marker"></div></div>
      <h4>Building Tools</h4>
      <small>
        <ul> 
          <li>We're trying to make organizing easier with Bridge Troll, an open source app we're buidling</li>
          <li>We want to make tools to help students figure out what to learn next!</li>
        </ul>
      </small>
    </div>
    <div class='feature clearfix pad2 feature-3'>
      <div class='illustration'><div class="icon-4x icon-money"></div></div>
      <h4>Communicating</h4>
      <small>
        <ul>
          <li>We need to tell the world what we're doing! PR dabblers welcome!</li>
          <li>Blogging. Writers are the best.</li>
          <li>Tweeting, Facebooking, LinkedIn-ing: social media is fun.</li>
        </ul>
      </small>
    </div>
    <div class='feature clearfix pad2 feature-4'>
      <div class='illustration'><div class="icon-4x icon-money"></div></div>
      <h4>Strategy and Fundraising</h4>
      <small>
        <ul>
          <li>We're building an organization called Bridge Foundry to help us (and other orgs) manage our funds (and people) better!</li>
          <li>RailsBridge is growing a ton, and we can always use strategists and do-ers to help us think big and make those epic plans a reality</li>
        </ul>
      </small>
    </div>
  </div>

</div>


<div class='helping'>
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="rb-section">
        <div class="icon-4x icon-book"></div>
        <h3>Teach or TA</h3>
        <p>Even if it doesn't come naturally to you, there are a ton of interesting people at every workshop. The question "How's your workshop going?" is a popular opener.</p>
      </div>
      </div>
      <div class="span4">
        <div class="rb-section">
        <div class="icon-4x icon-map-marker"></div>
        <h3>Host an Event</h3>
        <p>If the teacher is moving too fast or something just isn't clear, ask about it! Someone else in your class is probably wondering the same thing you are.</p>
      </div>
      </div>
      <div class="span4">
        <div class="rb-section">
        <div class="icon-4x icon-money"></div>
        <h3>Be a Sponsor</h3>
        <p>Programming is really complicated, and if there are pieces that you just don't get, it 100% doesn't mean that you aren't meant to program. Try to muster as much patience with yourself as you can.</p>
      </div>
      </div>
    </div>
  </div>
  
</div>
</div>

<div class="container">
  <h3>So many other ways to help, too!</h3>

  <p>There are <em>ton</em> of other things that have to happen to keep RailsBridge thriving. If any of these things are in your wheelhouse, get in touch via our short <%= link_to "volunteer interest form", :interest_form %>.
</div>

<div class='helping'>
  <div class="container">
    <div class="row">
      <div class="span3">
        <div class="icon-4x icon-book"></div>
        <h4>Curriculum Stuff</h4>
        <ul>
          <li>Maintaining the various curriucla we offer</li>
          <li>Writing new curricula</li>
          <li>Keeping the constantly-changing Installfest up-to-date</li>
          <li>Help our teachers level up by creating more in-depth teacher training</li>
        </ul>
      </div>
      <div class="span3">
        <div class="icon-4x icon-map-marker"></div>
        <h4>Building Tools</h4>
        <ul> 
          <li>We're trying to make organizing easier with Bridge Troll, an open source app we're buidling</li>
          <li>We want to make tools to help students figure out what to learn next!</li>
        </ul>
      </div>
      <div class="span3">
        <div class="icon-4x icon-money"></div>
        <h4>Communication</h4>
        <ul>
          <li>We need to tell the world what we're doing! PR dabblers welcome!</li>
          <li>Blogging. Writers are the best.</li>
          <li>Tweeting, Facebooking, LinkedIn-ing: social media is fun.</li>
        </ul>
      </div>
      <div class="span3">
        <div class="icon-4x icon-book"></div>
        <h4>Strategy and Fundraising</h4>
        <ul>
          <li>We're building an organization called Bridge Foundry to help us (and other orgs) managae our funds (and people) better!</li>
          <li>RailsBridge is growing a ton, and we can always use strategists and do-ers to help us think big and make those epic plans a reality</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2>If you can help us with any of these things, fill out our quick <%= link_to "volunteer interest form", interest_form_path %> and we'll be in touch!</h2>

  <h3>Add more detail about the curriculum contribution process here</h3>
</div> 

</div>-->