<% provide(:title, page_title(['Helping'])) %>

<div class="row clearfix">
  <div class="span7">
    <h1>Want to help RailsBridge?</h1>

    <h2>There are so many ways you can!</h2>
    <h3>Teachers, TAs, and Organizers Needed</h3>
    <p>The most visible volunteer positions within RailsBridge are the worshop organizers, teachers, and TAs. They make each workshop happen! If you're interested in teaching, check out the <%= link_to "RailsBridge chapters", :about_chapters %> to see if one is coming up near you.</p> 
    <p>If you're interested in organizing, check out the <%= link_to("organizing page", :organizing)%> and <%= link_to "fill out our short interest form", :interest_form %>!</p>

  </div>
  <div class="span4 offset1">

    <div class='feature-list'>
      <div class='feature clearfix feature-1'>
        <div class="feature-icon icon-3x icon-book"></div>
        <h4>Teach or TA</h4>
        <ul>
          <li>Teaching Resources</li>
          <li>Chapter List</li>
          <li>Upcoming Events</li>
        </ul>
      </div>
    </div>
    
    <div class='feature-list'>
      <div class='feature clearfix'>
        <div class="feature-icon icon-3x icon-map-marker"></div>
        <h4>Organize, Sponsor or Host an Event</h4>
        <ul>
          <li>Hosting Resources</li>
        </ul>
      </div>
    </div>

    <div class='feature-list'>
      <div class='feature clearfix'>
        <div class="feature-icon icon-2x icon-money"></div>
        <h4>Be a Sponsor</h4>
        <ul>
          <li>Donor FAQ</li>
        </ul>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="span12">
    <h2>So many other ways to help, too!</h2>
    <p>There are <em>ton</em> of other things that have to happen to keep RailsBridge thriving. If any of these things are in your wheelhouse, get in touch via our short <%= link_to "volunteer interest form", :interest_form %>.
    <p>If you can help us with any of these things, fill out our quick <%= link_to "volunteer interest form", interest_form_path %> and we'll be in touch!</p>
  </div>
</div>

<div class="row">
  <div class="span3">

    <div class='feature-list horizontal-feature'>
      <div class='feature clearfix feature-1'>
        <div class="feature-icon icon-3x icon-book"></div>
        <h4>Curriculum Stuff</h4>
        <ul>
          <li>Maintain and create new curricula</li>
          <li>Keeping the constantly-changing Installfest up-to-date</li>
          <li>Help our teachers level up by creating more in-depth teacher training</li>
        </ul>
      </div>
    </div>

  </div>
  <div class="span3">

    <div class='feature-list horizontal-feature'>
      <div class='feature clearfix'>
        <div class="feature-icon icon-3x icon-wrench"></div>
        <h4>Building Tools</h4>
        <ul> 
          <li>We're trying to make organizing easier with Bridge Troll, an open source app we're buidling</li>
          <li>We want to make tools to help students figure out what to learn next!</li>
        </ul>
      </div>
    </div>

  </div>
  <div class="span3">

    <div class='feature-list horizontal-feature'>
      <div class='feature clearfix'>
        <div class="feature-icon icon-3x icon-bullhorn"></div>
        <h4>Communicating</h4>
        <ul>
          <li>We need to tell the world what we're doing! PR dabblers welcome!</li>
          <li>Blogging. Writers are the best.</li>
          <li>Tweeting, Facebooking, LinkedIn-ing: social media is fun.</li>
        </ul>
      </div>
    </div>

  </div>
  <div class="span3">

    <div class='feature-list horizontal-feature'>
      <div class='feature clearfix'>
        <div class="feature-icon icon-3x icon-phone"></div>
        <h4>Strategy and Fundraising</h4>
        <ul>
          <li>We're building an organization called Bridge Foundry to help us (and other orgs) manage our funds (and people) better!</li>
          <li>RailsBridge is growing a ton, and we can always use strategists and do-ers to help us think big and make those epic plans a reality</li>
        </ul>
      </div>
    </div>

  </div>
</div>

<br>
<h3 class="deemphasize">TODO: Add more detail about the curriculum contribution process here or within the curriculum box...</h3>
