- provide(:title, page_title(['Helping']))

%h1 Helping people learn to program is an amazing experience.

%p The most visible volunteer positions within RailsBridge are the worshop sponsors, organizers, teachers, and TAs. They make each workshop happen!
%h4 Want to teach?
%p Yay! Head over to the #{link_to "upcoming workshops page", :events} to see if one is coming up near you. If not, get in touch with your #{link_to "local chapter", :chapters} (or start one if it doesn't exist).
%h4 Want to organize?
%p Fantastic. Read through the #{link_to "organizing page", :organize} and #{link_to "fill out our short interest form", :interest_form}!
%h4 Want to host or sponsor?
%p That's awesome. Check out our #{ link_to "information for hosts", :host } and #{ link_to "Donor FAQ", :donor_faq }.
%h2 Helpful links for you
.row-fluid.help
  .span6
    .feature.clearfix.feature-1
      .feature-icon.icon-3x.icon-asterisk
      %h4 Teach or TA
      %ul
        %li= link_to 'Teaching Resources', :teach
        %li= link_to 'RailsBridge Chapter List', :chapters
        %li= link_to 'Upcoming Events', :events
  .span6
    .feature.clearfix
      .feature-icon.icon-3x.icon-cogs
      %h4 Organize, Sponsor or Host an Event
      %ul
        %li= link_to 'Organize an Event', :organize
        %li= link_to 'Hosting Resources', :host
        %li= link_to 'Donor FAQ', :donor_faq
.row-fluid
  .span12
    %h2 So many other ways to help, too!
    %p
      There are
      %em tons
      of other things that have to happen to keep RailsBridge thriving. If you can help us with any of these things, fill out our quick #{link_to "volunteer interest form", :interest_form} and we will be in touch.
.row-fluid.ways-to-help.features-grid.help
  .span6
    .feature.clearfix
      .feature-icon.icon-3x.icon-book
      %h4 Expand, improve, and maintain our curriculum
      %ul
        %li Maintain and create new curricula
        %li Keep the constantly-changing Installfest up-to-date
        %li Help our teachers level up by creating more in-depth teacher training
  .span6
    .feature.clearfix
      .feature-icon.icon-3x.icon-wrench
      %h4 Help build new tools
      %ul
        %li Help us improve Bridge Troll, our open source event management app.
        %li Students always wonder what to do next, and we'd like to build better toold for helping them figure out their next steps.
.row-fluid.ways-to-help.features-grid.help
  .span6
    .feature.clearfix
      .feature-icon.icon-3x.icon-bullhorn
      %h4 Get the word out
      %ul
        %li We need to tell the world what we're doing! PR dabblers welcome!
        %li Blogging. Writers are the best.
        %li Tweeting, Facebooking, LinkedIn-ing: social media is fun.
  .span6
    .feature.clearfix
      .feature-icon.icon-3x.icon-phone
      %h4 Strategize and fundraise
      %ul
        %li We're building an organization called Bridge Foundry to help us (and other orgs) manage our funds (and people) better!
        %li RailsBridge is growing a ton, and we can always use strategists and do-ers to help us think big and make those epic plans a reality