<h1>WELCOME.</h1>
<h2><em>This is an unstyled, Bootstrappy pre-ghost of a future RailsBridge website.</em></h2>
<h4>RailsBridge is working to make tech more diverse and welcoming by teaching programming, connecting human beings, and listening.</h4>
<div class="row">
  <div class="span6">
    <h2>Want to learn?</h2>
    <p>We throw free workshops on Rails, Ruby, and HTML & CSS, among other things.</p>
    <p><a href="http://bridgetroll.herokuapp.com">Browse and register for upcoming workshops and events on Bridge Troll.</a></p>
    <p><%= link_to "Workshop Tips & FAQ", learning_path %></p>
    <p><%= link_to "After Attending: Keep Learning!", learning_resources_path %></p>
  </div>
  <div class="span6">
    <h2>Want to help out?</h2>
    <p><%= link_to "Learn more & get in touch!", helping_path %></p>
    <p><%= link_to "Teach or TA", teaching_path %></p>
    <p><%= link_to "Organize a Workshop", organizing_path %></p>
    <p><a href="https://github.com/railsbridge/docs">Contribute on GitHub</a></p>
    <p><%= link_to "Sponsor or Host a Workshop", hosting_path %></p>
    <p><%= link_to "Help another way?", projects_path %></p>
  </div>
</div>

<h2>Wondering what this whole thing is about?</h2>
<p><%= link_to "The story of RailsBridge!", about_path %></p>