- provide(:title, page_title(['Resources']))

%h1 What next? Write code every day!
.row-fluid.advice-boxes
  .span4
    .feature
      .feature-icon.icon-4x.icon-bolt
      %h4 Pick something and get started
      %ul
        %li
          %p 
            This is the most important thing: pick your next project
            \&mdash;
            a tutorial, a class, or building your own app
            \&mdash;
            and get started right away. Momentum is important.
  .span4
    .feature
      .feature-icon.icon-3x.icon-envelope
      %h4 Keep in touch
      %ul
        %li
          %p Reach out to the people you connected with at your workshop. Coding with other people around is really motivating, plus you get to help each other solve trickier stuff.
  .span4
    .feature
      .feature-icon.icon-3x.icon-thumbs-up
      %h4 More RailsBridge
      %ul
        %li
          %p Come back to another workshop as a student, TA, or teacher. Teaching is a really great way to learn, too. (You'll be ready to TA sooner than you think, so don't be shy!)
%h2 Resources for you
#learning-resources-nav
  %ul.nav.nav-tabs
    %li.ruby.active= link_to "Ruby", "#ruby"
    %li.rails= link_to "Rails", "#rails"
    %li.front-end= link_to "HTML, CSS, & JavaScript", "#front-end"
    %li.other= link_to "Other Web Development Fun", "#other"
  .learning-resources
    #ruby
      = render partial: 'static_pages/resources/ruby_resources'
    #rails.hide
      = render partial: 'static_pages/resources/rails_resources'
    #front-end.hide
      = render partial: 'static_pages/resources/front_end_resources'
    #other.hide
      = render partial: 'static_pages/resources/general_web_dev_resources'
