- provide(:title, page_title(['Helping','Organize a Workshop']))

.question-header
  %h1 Want to organize a workshop?
  %h2 Neat!
.row-fluid.feature-list.organize-boxes
  .span6
    .feature.clearfix.feature-1
      .feature-icon.icon-3x.icon-beaker
      %h4 The Workshop Cookbook
      %p We've got tons of information in our #{ link_to "Workshop Cookbook", "https://github.com/railsbridge/docs/wiki/Cookbook"}, which lives in the RailsBridge GitHub wiki.
      %p Read it, use it, and update it! (You just have to be logged into GitHub to make updates.)
  .span6
    = render 'mailing_list'
.spaced-help-content
  %h4 Organizing: totally doable.
  %p
    A lot of organizers have never thrown an event like this before and want to know what qualifications it takes. You
    %em don't
    have to be a born event-planner to be an awesome organizer.
  %p Here are several things that are helpful:
  %ul
    %li Excitement
    %li 1 or 2 other people who can help you get word out to local community
    %li A few hours a week leading up to the weekend for pre-workshop planning
    %li Availability the weekend of the workshop
    %li Some degree of organizational/logistical tendencies (or a co-organizer who is like that)
    %li Ability to give a short presentation (or a co-organizer whose willing to)
    %li Having attended a prior workshop as a student, teacher, volunteer, or observer.
  %h4 Time commitment
  %p The time commitment varies wildly based on where you're organizing and the number of workshops that have already happened in your area. Since there are workshops every month in San Francisco, the meta-organizing team there has a stable of companies that are happy to host. If you're forging new, exciting ground, finding a venue, sponsors, students, and volunteers will take longer. The organizing cookbook #{link_to "has suggestions", "https://github.com/railsbridge/docs/wiki/Finding-space%2C-sponsors%2C-volunteers%2C-and-students"} for where to look for those things.
  %p The amount of time you'll need to budget will also depend on how you and your co-organizer divide the responsibilities. Everyone organizing should plan on devoting their Friday night and most of Saturday to the workshop, and at least a few hours a week during the month before the workshop to visiting the space, ordering food, and communicating with students and volunteers.
  %h4 Mentorship & support available
  %p Although it is a lot of little details to deal with, if it's your first time organizing we'll hook you up with a mentor to answer questions and help guide you.  That can be remote mentoring, if an experienced local organizer/mentor is't available.
  %p If you are interested in organizing a workshop, or even just vaguely curious, contact Rachel Myers and Lillie Chilen, who will be very happy to talk about it. (They are lilliechilen at gmail dot com, and rachelmariemyers at gmail dot com, respectively.)
  %h4 Already planning?
  %p If you're raring to go, and have already got your workshop planning underway, go you! That's amazing. Here are a couple of suggestions and requests:
  %ul
    %li Use #{link_to "Bridge Troll", "http://www.bridgetroll.org"}, our event management software. It'll make RSVPs and dividing up the class much, much easier.
    %li Side benefit of Bridge Troll: your event will automatically be displayed on the RailsBridge.org website.
    %li If you haven't already, join the #{link_to "mailing list", "https://groups.google.com/forum/#!forum/railsbridge-workshops"} and let the community know that your workshop is in the works. We like to help spread the word (and also keep a tally of the workshops happening in the world).