- provide(:title, page_title(['Past Events']))

%h1 So many workshops!

%p
  RailsBridge workshops happen all over the world. Our #{link_to "Chapters page", :chapters, class: 'inline-link'} can help you
  find a workshop in your area. And if there isn't one planned, we can #{link_to "help you set one up", :organize, class: 'inline-link'}!

%h2 Past Workshops

%table.table.table-striped.past-events
  %thead
    %tr
      %th
        %h3 No.
      %th.dates
        %h3 Dates
      %th
        %h3 City
      %th
        %h3 Location
      %th
        %h3 Organizers
  %tbody
    - if @past_events.present?
      - @past_events.zip(1..@past_events.length).reverse.each do |(event, n)|
        %tr
          %td #{n}
          %td= link_to event.event_dates(short: true), event.event_url, target: "_blank", class: 'inline-link'
          %td= event.location['city']
          %td= event.location['name']
          %td= event.organizers.to_sentence
