- provide(:title, page_title(['Past Events']))

%h1 So many workshops!

%p RailsBridge workshops happen all over the world. Our #{link_to "Chapters page", :chapters} can help you find a worskhop in your area. And if there isn't one planned, we can #{link_to "help you set one up", :organize}!

%h2 Past Workshops

%table.table.table-striped.past-events
  %thead
    %tr
      %th
        %h3 No.
      %th.dates
        %h3 Dates
      %th
        %h3 City
      %th
        %h3 Location
      %th
        %h3 Organizers
  %tbody
    - if @past_events.present?
      - @past_events.zip(1..@past_events.length).reverse.each do |(event, n)|
        %tr
          %td #{n}
          %td
            %a{:href => event.respond_to?(:url) ? event.url : bridgetroll_event_url(event)} #{formatted_past_event_date(event)}
          - if event.location
            %td #{event.location.city}
            %td #{event.location.name}
          - else
            %td
            %td
          %td #{Array[*event.organizers || ''].length == 1 ? Array[*event.organizers || ''].first : event.organizers.to_sentence}
