- provide(:title, page_title(['Sponsors']))

%h1 We are so grateful.

%p RailsBridge has thrived because of its volunteers and its sponsors. These companies have provided us with space, wifi, projectors, and bought us so many Friday pizzas and Saturday lunches. We are so thankful that they are committed to helping tech become more equitable, welcoming, and diverse.

.logos.huge-logos
  %h2 Program Sponsors
  %hr/
  %p Our program sponsors allow us to expand geographically and support organizers to create events in advance of local sponsor commitments.  With their encouragement and support, there have been workshops in 42 different cities around the world.
  %div
    = link_to image_tag("sponsor-logos/heroku.png", class: 'img-responsive'), "https://www.heroku.com/"
    = link_to image_tag("sponsor-logos/google.png", class: 'img-responsive'), "http://www.google.com/"

.logos.big-logos
  %h2 Ongoing Workshop Sponsors
  %hr/
  %p These companies provide ongoing support by sponsoring workshops on a regular basis.
  %div
    = link_to image_tag("sponsor-logos/pivotal.jpg"), "http://pivotallabs.com/"
    = link_to image_tag("sponsor-logos/thoughtbot.png"), "https://thoughtbot.com/"
    %br
    = link_to image_tag("sponsor-logos/carbonfive.png"), "http://carbonfive.com/"
    = link_to image_tag("sponsor-logos/engineyard.png"), "https://www.engineyard.com/"
    = link_to image_tag("sponsor-logos/autodesk.png"), "https://www.autodesk.com/"
.logos.medium-logos
  %h2 Partner Organizations
  %hr/
  %div
    = link_to image_tag("partner-org-logos/blackfounders.png"), "http://www.blackfounders.com/"
    %br
    = link_to image_tag("partner-org-logos/devchix.jpeg"), "http://www.devchix.com/"
    = link_to image_tag("partner-org-logos/latino-startup-alliance.png"), "http://latinostartupalliance.org/"
    = link_to image_tag("partner-org-logos/women2.jpeg"), "http://www.women2.com/"

.logos.medium-logos
  %h2 Supporting Conferences
  %hr/
  %div
    = link_to image_tag("conference-logos/ruby-on-ales.jpg"), "http://ruby.onales.com"
    = link_to image_tag("conference-logos/rubyfuza.png"), "http://rubyfuza.org"
    = link_to image_tag("conference-logos/madison-ruby.jpg"), "http://madisonruby.org"
    = link_to image_tag("conference-logos/rocky-mountain-ruby.png"), "http://rockymtnruby.com"
    = link_to image_tag("conference-logos/la-ruby.jpg"), "http://www.larubyconf.com"
    = link_to image_tag("conference-logos/code4lib.png"), "http://code4lib.org/conference"
    = link_to image_tag("conference-logos/aloha.jpg"), "http://www.alohaonrails.com"

.logos.smaller-logos
  %h2 Workshop Sponsors
  %hr/
  %div
    = link_to image_tag("workshop-sponsor-logos/thoughtworks.jpg"), "http://www.thoughtworks.com/"
    = link_to image_tag("workshop-sponsor-logos/github.png"), "https://github.com/"
    = link_to image_tag("workshop-sponsor-logos/incomm.png"), "http://www.incomm.com/"
    = link_to image_tag("workshop-sponsor-logos/modcloth.jpeg"), "http://www.modcloth.com/"
    = link_to image_tag("workshop-sponsor-logos/tapjoy.jpeg"), "https://www.tapjoy.com/"
    = link_to image_tag("workshop-sponsor-logos/airbnb.png"), "https://www.airbnb.com/"
    = link_to image_tag("workshop-sponsor-logos/bing.png"), "http://www.bing.com/"
    = link_to image_tag("workshop-sponsor-logos/nexTag.jpg"), "http://www.nextag.com/"
    = link_to image_tag("workshop-sponsor-logos/orange-labs.jpg"), "http://www.primezone.orange-labs.com/information.html?hl=en&info=orangelabs"
    = link_to image_tag("workshop-sponsor-logos/outright.jpeg"), "http://outright.com/"
    = link_to image_tag("workshop-sponsor-logos/quickleft.jpg"), "http://quickleft.com/"
    = link_to image_tag("workshop-sponsor-logos/rackspace.jpeg"), "http://www.rackspace.com/"
    = link_to image_tag("workshop-sponsor-logos/CfA.png"), "http://codeforamerica.org/"
    = link_to image_tag("workshop-sponsor-logos/coderow.jpg"), "http://www.coderow.com/"
    = link_to image_tag("workshop-sponsor-logos/galvanize.jpg"), "http://galvanize.it/"
    = link_to image_tag("workshop-sponsor-logos/gnip.jpeg"), "http://gnip.com/"
    = link_to image_tag("workshop-sponsor-logos/envylabs.jpeg"), "http://envylabs.com/"
    = link_to image_tag("workshop-sponsor-logos/google-ventures.png"), "http://www.googleventures.com/"
    = link_to image_tag("workshop-sponsor-logos/groupon.jpeg"), "http://www.groupon.com/"
    = link_to image_tag("workshop-sponsor-logos/harvest.png"), "http://www.getharvest.com/"
    = link_to image_tag("workshop-sponsor-logos/ign-entertainment.png"), "http://corp.ign.com/"
    = link_to image_tag("workshop-sponsor-logos/hashrocket.jpg"), "http://hashrocket.com/"
    = link_to image_tag("workshop-sponsor-logos/kaporfoundation.jpg"), "http://www.kaporcenter.org/"
    = link_to image_tag("workshop-sponsor-logos/mediacore.jpg"), "http://mediacore.com/"
    = link_to image_tag("workshop-sponsor-logos/microsoft.jpg"), "http://www.microsoft.com/"
    = link_to image_tag("workshop-sponsor-logos/verticalresponse.jpeg"), "http://www.verticalresponse.com/"
    = link_to image_tag("workshop-sponsor-logos/scribd.jpeg"), "http://www.scribd.com/"
    = link_to image_tag("workshop-sponsor-logos/neo.png"), "https://www.linkedin.com/company/neo-innovation-inc-"
    = link_to image_tag("workshop-sponsor-logos/square.jpg"), "https://squareup.com/"
    = link_to image_tag("workshop-sponsor-logos/twilio.png"), "http://www.twilio.com/"
    = link_to image_tag("workshop-sponsor-logos/twitter.png"), "https://twitter.com/"
    = link_to image_tag("workshop-sponsor-logos/braintree.png"), "https://www.getbraintree.com/"
    = link_to image_tag("workshop-sponsor-logos/wested.jpg"), "http://www.wested.org/"
    = image_tag("workshop-sponsor-logos/workhappy.png")
    = link_to image_tag("workshop-sponsor-logos/awesomeinc.jpeg"), "http://awesomeinc.org/"
    = link_to image_tag("workshop-sponsor-logos/stride.png"), "http://www.stridenyc.com/"
    = link_to image_tag("workshop-sponsor-logos/etsy.png"), "https://www.etsy.com/"
