- provide(:title, page_title(['Team']))

%h1 There are no RailsBridge employees.
%p
  RailsBridge is an <em>extremely</em> non-hierarchical organization, full of people
  who want to make tech better and are willing to donate their time and resources to 
  that effort. From 2009 to 2013, RailsBridge's three-person board comprised Sarah Mei 
  and Sarah Allen, co-founders, and Austin Putman, treasurer. Now, RailsBridge (and 
  its umbrella organization, Bridge Foundry), is project of 
  #{ link_to "School Factory", "http://schoolfactory.org/" }, which gives us 501(c)3 
  status, but with all the autonomy we need.

%h2 A few of the people who have helped RailsBridge exist:

.row.js-match-height
  .col-md-4
    .feature.js-match-height-item
      .feature-icon.fa.fa-puzzle-piece
      %h4 Strategizers
      %p Big picture thinkers & doers
      %ul
        %li #{ link_to "Rachel Myers", "https://github.com/rachelmyers" }
        %li #{ link_to "Lillie Chilen", "https://github.com/lilliealbert" }
        %li #{ link_to "Sarah Mei", "https://github.com/sarahmei" }
        %li #{ link_to "Sarah Allen", "https://github.com/ultrasaurus" }
        %li #{ link_to "Austin Putman", "https://github.com/austinfromboston" }
  .col-md-4
    .feature.js-match-height-item
      .feature-icon.fa.fa-book
      %h4 Curriculumites
      %p Authors and lead maintainers of various curricula
      %ul
        %li #{ link_to "Alex Chaffee", "https://github.com/alexch" }
        %li #{ link_to "Steven! Ragnarok", "https://github.com/nuclearsandwich" }
        %li #{ link_to "Travis Grathwell", "https://github.com/tjgrathwell" }
        %li #{ link_to "Emily Nakashima", "https://github.com/eanakashima" }
        %li #{ link_to "Lillie Chilen", "https://github.com/lilliealbert" }
        %li #{ link_to "Carina C. Zona", "https://github.com/cczona" }
  .col-md-4
    .feature.js-match-height-item
      .feature-icon.fa.fa-code
      %h4 Meta-Organizers
      %p Making workshops happen over & over & over
      %ul
        %li #{ link_to "Rachel Myers", "https://github.com/rachelmyers"} & #{ link_to "Luke Morris", "https://github.com/lukevmorris" } (SF)
        %li #{ link_to "Melissa Xie", "https://github.com/mxie" } & friends (Boston)
        %li #{ link_to "Renée De Voursney", "https://github.com/reneedv" } & #{ link_to "Elise Worthy", "https://github.com/eliseworthy" } (Seattle)
        %li #{ link_to "Desi McAdam", "https://github.com/desi" } & friends (Denver area)
        %li #{ link_to "Beverly Nelson", "https://twitter.com/bnlson" } (Southeastern US)

.row.js-match-height
  .col-md-4
    .feature.js-match-height-item
      .feature-icon.fa.fa-globe
      %h4 Chefs d'Outreach
      %p Bringing RailsBridge to new people & places
      %ul
        %li #{ link_to "Renee De Voursney", "https://github.com/reneedv" }
        %li #{ link_to "Desi McAdam", "https://github.com/desi" }
        %li #{ link_to "Sarah Mei", "https://github.com/sarahmei" }
  .col-md-4
    .feature.js-match-height-item
      .feature-icon.fa.fa-star
      %h4 People Who Do Lots
      %p Uncategorizable contributors of awesomeness
      %ul
        %li #{ link_to "Jane Sebastian", "http://www.railsbridge.org" }
        %li #{ link_to "Isa Herico", "http://www.linkedin.com/pub/isa-herico/4a/9/298" }
        %li #{ link_to "Bernie Telles", "https://github.com/btelles" }
  .col-md-4
    .feature.js-match-height-item
      .feature-icon.fa.fa-heart
      %h4 Major Contributers, Emeriti
      %p Folks without whom RailsBridge would be less awesome today
      %ul
        %li #{ link_to "Ilen Zazueta-Hall", "http://www.ilen.org/" }
        %li #{ link_to "Judy Tuan", "https://github.com/judytuna" }
        %li #{ link_to "Jen Linder", "https://github.com/jenlindner" }
        %li #{ link_to "Carina C. Zona", "https://github.com/cczona" }
        %li #{ link_to "Mary Jenn", "https://github.com/mfjenn" }

%p
  %em Are we missing someone? Is someone miscategorized? Let us know!
  %em=render 'shared/github_links', cautious: true
