- provide(:title, page_title(['Team']))

%h1 The RailsBridge Team

%p
  The team of people that make RailsBridge successful is too large to include here.
  Each RailsBridge chapter is run by a team of dedicated volunteers, and the RailsBridge board
  exists primarily to assist those chapter leaders in running workshops and creating communities.
  All members of the RailsBridge board serve on committees that support cross-chapter concerns, like
  finance, chapter outreach, fundraising, and communications. The board relies on the
  input of the RailsBridge Advisory Board when making decisions. To learn more about how the board works, check out the
  #{ link_to "RailsBridge Board Charter", "https://github.com/railsbridge/board#railsbridge-board-charter", target: "_blank", class: 'inline-link' }.

%h3 The RailsBridge Board

.row
  .col-md-12
    %ul
      %li #{ link_to "Kari Bancroft", "https://twitter.com/karianneban", target: "_blank", class: 'inline-link' }
      %li #{ link_to "Coraline Ada Ehmke", "http://where.coraline.codes/", target: "_blank", class: 'inline-link' }
      %li #{ link_to "Rachel Myers", "https://github.com/rachelmyers", target: "_blank", class: 'inline-link' }
      %li #{ link_to "Anna Neyzberg", "https://twitter.com/aneyzb", target: "_blank", class: 'inline-link' }
      %li #{ link_to "Bianca Rodrigues", "https://twitter.com/biancarods", target: "_blank", class: 'inline-link' }

%h3 The RailsBridge Advisory Board

.row
  .col-md-6
    %ul
      %li #{ link_to "Travis Grathwell", "https://github.com/tjgrathwell", target: "_blank", class: 'inline-link' } (Bridge Troll / Docs lead)
      %li #{ link_to "Anna Neyzberg", "https://twitter.com/aneyzb", target: "_blank", class: 'inline-link' } (SF chapter lead)
      %li #{ link_to "Sarah Allen", "http://www.ultrasaurus.com/", target: "_blank", class: 'inline-link' } (Bridge Foundry director)
      %li #{ link_to "Rachel Ober", "http://rachelober.com/", target: "_blank", class: 'inline-link' } (NYC chapter lead)
      %li #{ link_to "Sameer Siruguri", "https://twitter.com/siruguri", target: "_blank", class: 'inline-link' } (Oakland chapter lead)
  .col-md-6
    %ul
      %li #{ link_to "Kevin Lawver", "http://kevinlawver.com/", target: "_blank", class: 'inline-link' } (Savannah chapter lead)
      %li #{ link_to "Steve Barnett", "https://naga.co.za/", target: "_blank", class: 'inline-link' } (Cape Town chapter lead)
      %li #{ link_to "Renée De Voursney", "https://twitter.com/gigglegirl4e", target: "_blank", class: 'inline-link' } (Seattle chapter lead)
      %li #{ link_to "Lauren Scott", "http://www.devdame.com/", target: "_blank", class: 'inline-link' } (Chicago chapter lead)
      %li #{ link_to "Melissa Xie", "http://melissaxie.com/", target: "_blank", class: 'inline-link' } (Boston chapter lead + RailsBridge finance team)

%h3 RailsBridge Board, Emeriti

.row
  .col-md-12
    %ul
      %li #{ link_to "Lillie Chilen", "http://www.lilliechilen.com/", target: "_blank", class: 'inline-link' }
      %li #{ link_to "Sarah Mei", "http://www.sarahmei.com/blog/", target: "_blank", class: 'inline-link' }

%h3 RailsBridge Contributors, Emeriti

%p Lots of people have helped make RailsBridge great over the years! (This list is far from exhaustive, though.)

.row
  .col-md-6
    %ul
      %li #{ link_to "Ana Castro", "https://twitter.com/anymoto", target: "_blank", class: 'inline-link' }
      %li #{ link_to "Austin Putman", "https://github.com/austinfromboston", target: "_blank", class: 'inline-link' }
      %li #{ link_to "Ilen Zazueta-Hall", "http://www.ilen.org/", target: "_blank", class: 'inline-link' }
      %li #{ link_to "Judy Tuan", "https://github.com/judytuna", target: "_blank", class: 'inline-link' }
      %li #{ link_to "Jen Linder", "https://github.com/jenlindner", target: "_blank", class: 'inline-link' }
      %li #{ link_to "Carina C. Zona", "https://github.com/cczona", target: "_blank", class: 'inline-link' }
      %li #{ link_to "Emily Nakashima", "https://github.com/eanakashima", target: "_blank", class: 'inline-link' }

  .col-md-6
    %ul
      %li #{ link_to "Beverly Nelson", "https://twitter.com/bnlson", target: "_blank", class: 'inline-link' }
      %li #{ link_to "Isa Herico", "http://www.linkedin.com/pub/isa-herico/4a/9/298", target: "_blank", class: 'inline-link' }
      %li #{ link_to "Bernie Telles", "https://github.com/btelles", target: "_blank", class: 'inline-link' }
      %li #{ link_to "Mary Jenn", "https://github.com/mfjenn", target: "_blank", class: 'inline-link' }
      %li #{ link_to "Alex Chaffee", "https://github.com/alexch", target: "_blank", class: 'inline-link' }
      %li #{ link_to "Steven! Ragnarok", "https://github.com/nuclearsandwich", target: "_blank", class: 'inline-link' }

%p
  And major thanks to everyone who has contributed to the
  #{ link_to "RailsBridge curricula", "https://github.com/railsbridge/docs/graphs/contributors", target: "_blank", class: 'inline-link'}
  and #{ link_to "Bridge Troll", "https://github.com/railsbridge/bridge_troll/graphs/contributors", target: "_blank", class: 'inline-link' }!

%p
  %em Are we missing someone? Is someone miscategorized? Let us know!
  %em= render 'shared/github_links', cautious: true

%h2 What is RailsBridge, legally?

%p
  RailsBridge is not a standalone legal entity; rather, we are a project of #{ link_to "Bridge Foundry", "http://bridgefoundry.org/", target: "_blank", class: 'inline-link'}, an
  organization empowering people with technology through teaching and facilitating access.
  Bridge Foundry, in turn, is a project of #{ link_to "School Factory", "http://schoolfactory.org/", target: "_blank", class: 'inline-link' }, a 501(c)3.

%p This is a little complex, so we made you a chart:

%p= image_tag 'railsbridge-structure.png'
