%h4 HTML & CSS
%ul
  %li #{ link_to "Shay Howe's beginning & intermediate HTML & CSS tutorials", "http://learn.shayhowe.com/" }
  %li The RailsBridge #{ link_to "front end curriculum", "http://docs.railsbridge.org/frontend/" } (best experienced at a workshop)
  %li Our front end resources #{ link_to "Pinterest board", "http://pinterest.com/eanakashima/learn-the-front-end/" }
    
%h4 HTML
%ul
  %li #{ link_to "Mozilla Developer Network: Learn HTML", "https://developer.mozilla.org/en-US/learn/html" }
  %li #{ link_to "HTML5Rocks", "http://www.html5rocks.com/en/" }
%h4 CSS
%ul
  %li #{ link_to "Learn Layout", "http://learnlayout.com/" }
  %li Mozilla Developer Network's #{ link_to "CSS tutorial", "https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_started?redirectlocale=en-US&redirectslug=CSS%2FGetting_Started" }
  %li Mozilla Developer Network's #{ link_to "CSS Reference", "https://developer.mozilla.org/en-US/docs/Web/CSS/Reference?redirectlocale=en-US&redirectslug=CSS%2FCSS_Reference" }
  %li #{ link_to "CSS-Tricks", "http://css-tricks.com/"} - when you Google something about CSS, there's a good chance you'll end up at this great site.
%h4 JavaScript & jQuery
%ul
  %li Max Ogden's #{ link_to "JavaScript for Cats", "http://jsforcats.com/" }
  %li #{ link_to "Codecademy — Javascript & JQuery tutorials", "http://www.codecademy.com/learn" }
  %li #{ link_to "Try jQuery by Code School", "http://try.jquery.com/"}
  %li #{ link_to "Learning Advanced JavaScript", "http://ejohn.org/apps/learn/"} by John Resig (who invented jQuery!)

%h4 Beyond HTML & CSS & JavaScript
%p HTML, CSS, and JavaScript are understood by the browser, but they're not a joy to write in. So people have built pre-processors to take new, more pleasant-to-type languages and turn them into the thing the browser can understand (i.e., HTML, CSS, & JavaScript).
%ul
  %li #{ link_to "Haml", "http://haml.info/" } - an indentation-dependent markup language that gets processed into HTML
  %li #{ link_to "Sass", "http://sass-lang.com/" } - CSS, but with nesting, variable, mixins, and happiness. Stands for "Syntactically Awesome Style Sheets".
  %li #{ link_to "LESS", "http://lesscss.org/" } - like Sass, but different.
  %li #{ link_to "CoffeeScript", "http://coffeescript.org/" } – gets to the browser as JavaScript, but you get to type fewer characters!