%h4 Git
%ul
  %li #{ link_to "Pro Git", "http://git-scm.com/book", class: 'inline-link' }, by Scott Chacon is excellent 
  %li #{ link_to "git ready", "http://gitready.com/", class: 'inline-link' } by Nick Quaranto, is a blog-ish tutorial with a lot of good ideas.
  %li #{ link_to "Git Immersion", "http://gitimmersion.com/", class: 'inline-link' } is an in-depth tutorial for Git
  %li CodeSchool & GitHub paired up to make #{ link_to "tryGit", "http://try.github.io/levels/1/challenges/1", class: 'inline-link' }, a quick 15 minute intro to Git.
%h4 DevOps
%ul
  %li #{ link_to "Ops School", "http://www.opsschool.org/", class: 'inline-link' }: open source training in ops
%h4 Computer Science
%ul
  %li
    %a.inline-link{:href => "http://www.khanacademy.org/#computer-science"} Khan Academy Computer Science
  %li #{ link_to "Project Euler", "http://projecteuler.net/", class: 'inline-link' }, fun math + programming problems
%h4 Human parts of being a web developer
%ul
  %li #{ link_to "Apprenticeship Patterns", "http://chimera.labs.oreilly.com/books/1234000001813/index.html", class: 'inline-link' } by David Hoover
%h4 Too many topics to categorize
%ul
  %li #{ link_to "Destroy All Software screencasts", "https://www.destroyallsoftware.com/screencasts", class: 'inline-link' }
