.feature.event
  %h4= event.title
  %ul
    %li
      .event-date #{formatted_event_date(event)}
      - if event.location
        .event-location #{event.location.city}, #{event.location.state}
      - else
        .event-location Location TBD
    %li
      %span.icon-user
      = "Organized by #{event.organizers.first} & friends"
    - if event.location && valid_location?(event.location)
      %li
        = link_to location_url(event.location), class: 'event-venue', target: '_blank' do
          %span.icon-map-marker
          = "Held at #{location_name(event.location)}"
  = link_to 'RSVP on Bridge Troll', bridgetroll_event_url(event), class: 'event-cta'
