.events
  = render 'layouts/event'
  = render 'layouts/event'
  = render 'layouts/event'
  = render 'layouts/event'
  = render 'layouts/event'
  .feature-list.horizontal-feature.event.event-help
    .feature.clearfix
      %h4 Not Finding a Workshop?
      %ul
        %li
          %p Lorem ipsum dolor sit amet. Vitae. Parturient. Tempus mollis Sed netus maecenas.

      = link_to 'Check Out Local Chapters', '', class: 'event-cta'
