- present(event) do |event_presenter|
  .feature.feature-no-icon.event
    %h4= event.title
    %ul
      %li
        .event-date= event_presenter.event_dates
        .event-location= event_presenter.location_city
      %li
        %span.icon-user
        = "Organized by #{event_presenter.organizers.first} & friends"
      %li
        = link_to event_presenter.location_url, class: 'event-venue', target: '_blank' do
          - if event_presenter.valid_location?
            %span.icon-map-marker
          = "Held at #{event.location.name}"

      .event-cta
        = link_to event_presenter.signup_link, event_presenter.event_url, target: '_blank'
