.features-grid.feature.event
  %h4= event.title
  %ul
    %li
      .event-date #{formatted_event_date(event)}
      - if event.location
        .event-location #{event.location.city}, #{event.location.state}
      - else
        .event-location Location TBD
    %li= link_to raw("<span class='icon-user'></span>Organized by #{event.organizers.first} & friends"), '', class: 'event-host'
    - if event.location
      %li= link_to raw("<span class='icon-map-marker'></span>Held at #{event.location.name}"), '', class: 'event-venue'
  = link_to 'RSVP on Bridge Troll', bridgetroll_event_url(event), class: 'event-cta'
