<div class="events">
  <%= render 'layouts/event' %>
  <%= render 'layouts/event' %>
  <%= render 'layouts/event' %>
  <%= render 'layouts/event' %>
  <%= render 'layouts/event' %>
  <div class='feature-list horizontal-feature event event-help'>
    <div class='feature clearfix'>
      <h4>Not Finding a Workshop?</h4>
      <ul>
        <li><p>Lorem ipsum dolor sit amet. Vitae. Parturient. Tempus mollis Sed netus Cum Maecenas molestie.</p></li>
      </ul>
      <%= link_to 'Check Out Local Chapters', '', class: 'event-cta' %>
    </div>
  </div>
</div>
