.feature.feature-no-icon.event
  %h4= event.title
  %ul
    %li
      .event-date #{event_dates(event.sessions.first.starts_at, event.sessions.last.starts_at)}
      - if event.location
        .event-location #{event.location.city}
      - else
        .event-location Location TBD
    %li
      %span.icon-user
      = "Organized by #{event.organizers.first} & friends"
    %li
      = link_to "Held at #{event.location.name}", event.url, class: 'event-venue', target: '_blank'

  .event-cta
    = link_to upcoming_past_event_cta(event.url), event.url, target: '_blank'
