.feature-list.horizontal-feature.event
  .feature.clearfix
    %h4= event.title
    %ul
      %li
        .event-date #{DateTime.parse(event.sessions.first.starts_at).strftime("%B %e")} – #{DateTime.parse(event.sessions.last.ends_at).strftime("%B %e, %Y")}
        - if event.location
          .event-location #{event.location.city}, #{event.location.state}
        - else
          .event-location Location TBD
      %li= link_to raw("<span class='icon-user'></span>Organized by #{event.organizers.first} & friends"), '', class: 'event-host'
      - if event.location
        %li= link_to raw("<span class='icon-map-marker'></span>Held at #{event.location.name}"), '', class: 'event-venue'
    = link_to 'RSVP on Bridge Troll', "http://bridgetroll-staging.herokuapp.com/events/#{event.id}", class: 'event-cta'
