<div class="navbar">
  <div class="navbar-static-top navbar-inner">
    <div class="container">
      <ul class="nav">
        <li><%= link_to "Home", root_path %></li>        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">About RailsBridge</a>
          <ul class="dropdown-menu">
            <li><%= link_to "Our Story", about_path %></li>
            <li><%= link_to "Chapters", about_chapters_path %></li>
            <li><%= link_to "Past Events", about_past_path %></li>
            <li><%= link_to "Team", about_team_path %></li>
            <li><%= link_to "Sponsors ", about_sponsors_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Learning</a>
          <ul class="dropdown-menu">
            <li><%= link_to "Attending a Workshop", learning_path %></li>
            <li><%= link_to "Further Resources", learning_resources_path %></li>
          </ul>
        </li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Helping</a>
        <ul class="dropdown-menu">
            <li><%= link_to "Overview", helping_path %></li>
            <li><%= link_to "Teaching", teaching_path %></li>
            <li><%= link_to "Organizing", organizing_path %></li>
            <li><%= link_to "Hosting & Sponsoring", hosting_path %></li>
        </ul>
        </li>
        <li><%= link_to "Other Projects", projects_path %></li>
      </ul>
      <ul class="nav pull-right">
        <li><a href="http://workshops.railsbridge.org/blog">RailsBridge Blog</a></li>
        <li><a href="http://docs.railsbridge.org">Curricula & Installfest</a></li>
      </ul>
    </div>
  </div>
</div>