<div class="navbar header">
  <div class="navbar-static-top navbar-inner">
    <div class="container">
      <%= link_to 'RailsBridge Logo', root_path, class: 'logo' %>
      <ul class="nav">
        <li><%= link_to "Learn", learning_path %></li>
        <li><%= link_to "Volunteer", helping_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><a href="http://workshops.railsbridge.org/blog">Blog</a></li>
        <li class='left-border'><a href="http://docs.railsbridge.org">Curriculum &amp; Installfest</a></li>
      </ul>
    </div>
  </div>
</div>

<!--

From the footer...

<div class="container">
  <nav>
    <ul class="nav nav-pills">
      <li><%= link_to "About RailsBridge", about_path %></li>
      <li><%= link_to "Supporting RailsBridge", hosting_path %></li>
      <li><%= link_to "Get in Touch", interest_form_path %></li>
    </ul>
  </nav>
</div>

From the header...

<div class="navbar">
  <div class="navbar-static-top navbar-inner">
    <div class="container">
      <ul class="nav">
        <li><%= link_to "Home", root_path %></li>        
        <li class="dropdown">
          <%= link_to "About RailsBridge", about_path %>
          <ul class="dropdown-menu">
            <li><%= link_to "Overview", about_path %>
            <li><%= link_to "Chapters", about_chapters_path %></li>
            <li><%= link_to "Past Events", about_past_path %></li>
            <li><%= link_to "Team", about_team_path %></li>
            <li><%= link_to "Sponsors ", about_sponsors_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <%= link_to "Learning", learning_path %>
          <ul class="dropdown-menu">
            <li><%= link_to "Attending a Workshop", learning_path %></li>
            <li><%= link_to "Further Resources", learning_resources_path %></li>
          </ul>
        </li>
        <li class="dropdown">
        <%= link_to "Helping", helping_path %>
        <ul class="dropdown-menu">
            <li><%= link_to "Overview", helping_path %></li>
            <li><%= link_to "Teaching", teaching_path %></li>
            <li><%= link_to "Organizing", organizing_path %></li>
            <li><%= link_to "Hosting & Sponsoring", hosting_path %></li>
        </ul>
        </li>
        <li><%= link_to "Other Projects", projects_path %></li>
      </ul>
      <ul class="nav pull-right">
        <li><a href="http://workshops.railsbridge.org/blog">RailsBridge Blog</a></li>
        <li><a href="http://docs.railsbridge.org">Curricula & Installfest</a></li>
      </ul>
    </div>
  </div>
</div> -->
