.header.navbar.navbar-static-top
  .container
    = link_to root_path, class: 'logo' do
      = image_tag 'madison_ruby.png'
      -# %svg{ width: 50, height: 50 }
        -# %circle.logo-placeholder{ cx: 22, cy: 22, r: 22 }
      %h1 RailsBridge
    %ul.header-nav.nav
      = header_link "Learn", learn_path
      = header_link "Volunteer", help_path
      = header_link "About", about_path
      %li.external#blog= link_to 'Blog', 'http://workshops.railsbridge.org/blog', target: '_blank'
      %li.external#curriculum= link_to 'Curriculum & Installfest', 'http://docs.railsbridge.org', target: '_blank'
