<div class="header navbar navbar-static-top">
  <div class="container">
    <%= link_to 'RailsBridge', root_path, class: 'logo' %>
    <ul class="header_nav nav">
      <%= header_link "Learning", learning_path %>
      <%= header_link "Helping", helping_path %>
      <%= header_link "About", about_path %>
      <li class='left-border' id='blog'><%= link_to 'Blog', 'http://workshops.railsbridge.org/blog', target: '_blank' %></li>
      <li id='curriculum'><%= link_to 'Curriculum & Installfest', 'http://docs.railsbridge.org', target: '_blank' %></li>
    </ul>
  </div>
</div>
