.header.navbar.navbar-static-top
  .container
    = link_to :root, class: "logo" do
      %svg{ width: 50, height: 50 }
        %circle{ cx: 25, cy: 25, r: 22 }
      %h1 RailsBridge
    %ul.header-nav.nav
      %li#learn.nav-link{ class: ("is-selected" if request.path.match(/^\/learn/)) }
        = link_to "Learn", :learn
        %span
        %ul.dropdown-menu{ role: "menu", :"aria-labelledby" => "dLabel" }
          = render "layouts/nav_links", nav_group: "learn"
      %li#help.nav-link{ class: ("is-selected" if request.path.match(/^\/help/)) }
        = link_to "Help", :help
        %span
        %ul.dropdown-menu{ role: "menu", :"aria-labelledby" => "dLabel" }
          = render "layouts/nav_links", nav_group: "help"
      %li#about.nav-link{ class: ("is-selected" if request.path.match(/^\/about/)) }
        = link_to "About", :about
        %span
        %ul.dropdown-menu{ role: "menu", :"aria-labelledby" => "dLabel" }
          = render "layouts/nav_links", nav_group: "about"
      %li.external#blog= link_to "Blog", "http://workshops.railsbridge.org/blog", target: "_blank"
      %li.external#curriculum= link_to "Curriculum & Installfest", "http://docs.railsbridge.org", target: "_blank"
