.header.navbar.navbar-static-top
  .container
    = link_to '', :root, class: "logo"
    %ul.header-nav.nav.navbar-nav
      %li#learn.nav-link{ class: ("is-selected" if @nav_group == :learn) }
        = link_to "Learn", :learn
        %span
        %ul.dropdown-menu{ role: "menu" }
          = render "layouts/nav_links", nav_group: :learn
      %li#help.nav-link{ class: ("is-selected" if @nav_group == :help) }
        = link_to "Help", :help
        %span
        %ul.dropdown-menu{ role: "menu" }
          = render "layouts/nav_links", nav_group: :help
      %li#about.nav-link{ class: ("is-selected" if @nav_group == :about) }
        = link_to "About", :about
        %span
        %ul.dropdown-menu{ role: "menu" }
          = render "layouts/nav_links", nav_group: :about
      %li.external#blog= link_to "Blog", "http://blog.railsbridge.org/", target: "_blank"
      %li.external#curriculum= link_to "Curriculum & Installfest", "http://docs.railsbridge.org", target: "_blank"
