.header.navbar.navbar-static-top
  .container
    = link_to root_path, class: 'logo' do
      = image_tag 'madison_ruby.png'
      -# %svg{ width: 50, height: 50 }
        -# %circle.logo-placeholder{ cx: 22, cy: 22, r: 22 }
      %h1 RailsBridge
    %ul.header-nav.nav.dropdown
      %li#learn.nav-link{:class => ("selected" if request.path.match(/^\/learn/))}
        = link_to "Learn", learn_path, class: "dropdown-toggle", :"data-toggle" => "dropdown"
        %span
        %ul.dropdown-menu{ role: "menu", :"aria-labelledby" => "dLabel" }
          %li= link_to "Overview", learn_path
          %li= link_to "Upcoming Workshops", events_path
          -# link_to "Before Attending", learn_path
          %li= link_to "FAQ", learning_faq_path
          %li= link_to "Keep Learning", learning_resources_path
      %li#help.nav-link{:class => ("selected" if request.path.match(/^\/help/))}
        = link_to "Volunteer", help_path, class: "dropdown-toggle", :"data-toggle" => "dropdown"
        %span
        %ul.dropdown-menu{ role: "menu", :"aria-labelledby" => "dLabel" }
          %li= link_to "Overview", help_path
          %li= link_to "Teach or TA", teach_path
          %li= link_to "Organize an Event", organize_path
          %li= link_to "Host an Event", host_path
          %li= link_to "Donor FAQ", donor_faq_path
          %li= link_to "Interest Form", interest_form_path
      %li#about.nav-link{:class => ("selected" if request.path.match(/^\/about/))}
        = link_to "About", about_path, class: "dropdown-toggle", :"data-toggle" => "dropdown"
        %span
        %ul.dropdown-menu{ role: "menu", :"aria-labelledby" => "dLabel" }
          %li= link_to "Overview", about_path
          %li= link_to "Team", team_path
          %li= link_to "Sponsors ", sponsors_path
          %li= link_to "Chapters", chapters_path
          %li= link_to "Past Events", past_events_path
          %li= link_to "Projects", projects_path
      %li.external#blog= link_to 'Blog', 'http://workshops.railsbridge.org/blog', target: '_blank'
      %li.external#curriculum= link_to 'Curriculum & Installfest', 'http://docs.railsbridge.org', target: '_blank'
