<div class="header navbar navbar-static-top">
  <div class="container">
    <%= link_to root_path, class: 'logo' do %>
      <svg width="40" height="40">
        <circle cx="20" cy="20" r="18" class="logo-placeholder" />
      </svg>
    <% end %>
    <ul class="header_nav nav">
      <%= header_link "Learn", learning_path %>
      <%= header_link "Volunteer", helping_path %>
      <%= header_link "About", about_path %>
      <li id='blog'><%= link_to 'Blog', 'http://workshops.railsbridge.org/blog', target: '_blank' %></li>
    </ul>
    <ul class="header_nav nav nav-right">
      <li id='curriculum'><%= link_to 'Curriculum & Installfest', 'http://docs.railsbridge.org', target: '_blank' %></li>
    </ul>
  </div>
</div>
