- if section == "learn"
  = nav_link "Overview", :learn
  = nav_link "Upcoming Workshops", :events
  = nav_link "Chapters", :chapters
  = nav_link "FAQ", :learning_faq
  = nav_link "Keep Learning", :learning_resources

- if section == "help"
  = nav_link "Overview", :help
  = nav_link "Teach or TA", :teach
  = nav_link "Organize an Event", :organize
  = nav_link "Host an Event", :host
  = nav_link "Donor FAQ", :donor_faq
  = nav_link "Interest Form", :interest_form

- if section == "about"
  = nav_link "Overview", :about
  = nav_link "Team", :team
  = nav_link "Sponsors ", :sponsors
  = nav_link "Chapters", :chapters
  = nav_link "Past Events", :past_events
  = nav_link "Projects", :projects
