<div class="side_nav">
    <ul class="side_nav_links<%= ' selected' if request.path.match(/^\/learning/) %>" id="learning_sub_nav">
      <%= nav_link "Overview", learning_path %>
      <%= nav_link 'Upcoming Workshops', events_path %>
      <%= nav_link 'Chapters', events_path %>
      <%= nav_link 'FAQ', learning_faq_path %>
      <%= nav_link 'Keep Learning', learning_resources_path %>
    </ul>
    <ul class="side_nav_links<%= ' selected' if request.path.match(/^\/about/) %>" id="about_sub_nav">
      <%= nav_link "Overview", about_path %>
      <%= nav_link "Team", team_path %>
      <%= nav_link "Sponsors ", sponsors_path %>
      <%= nav_link "Chapters", chapters_path %>
      <%= nav_link "Past Events", past_events_path %>
      <%= nav_link "Projects", projects_path %>
    </ul>
    <ul class="side_nav_links<%= ' selected' if request.path.match(/^\/helping/) %>" id="helping_sub_nav">
      <%= nav_link 'Overview', helping_path %>
      <%= nav_link 'Teach or TA', teaching_path %>
      <%= nav_link 'Organize an Event', organizing_path %>
      <%= nav_link 'Host an Event', hosting_path %>
      <%= nav_link 'Donor FAQ', donor_faq_path %>
      <%= nav_link 'Interest Form', interest_form_path %>
    </ul>
</div>
