<!-- <ul class="nav nav-tabs nav-stacked sidenav">
  <li><%= link_to 'Upcoming Workshops', events_path %></li>
  <li><%= link_to 'Before Attending', learning_path %></li>
  <li><%= link_to 'FAQ', faq_path %></li>
  <li><%= link_to 'Keep Learning', learning_resources_path %></li>
</ul>

<ul class="nav nav-tabs nav-stacked sidenav">
  <li class='active'><%= link_to 'Upcoming Workshops', root_path %></li>
  <li><%= link_to 'Chapters', root_path %></li>
  <li><%= link_to 'Before Attending', root_path %></li>
</ul>

<ul class="nav nav-tabs nav-stacked sidenav">
  <li class='active'><%= link_to 'Upcoming Workshops', root_path %></li>
  <li><%= link_to 'Chapters', root_path %></li>
  <li><%= link_to 'Before Attending', root_path %></li>
</ul> -->