<div class="sub_nav">
  <div class="container">
    <ul class="topnav">
      <%= nav_link "Overview", learning_path %>
      <%= nav_link 'Upcoming Workshops', events_path %>
      <%= nav_link 'Before Attending', learning_path %>
      <%= nav_link 'FAQ', learning_faq_path %>
      <%= nav_link 'Keep Learning', learning_resources_path %>
    </ul>
  </div>
</div>

<div class="sub_nav">
  <div class="container">
    <ul class="topnav">
      <%= nav_link "Overview", about_path %>
      <%= nav_link "Team", team_path %>
      <%= nav_link "Sponsors ", sponsors_path %>
      <%= nav_link "Chapters", chapters_path %>
      <%= nav_link "Past Events", past_events_path %>
      <%= nav_link "Projects", projects_path %>
    </ul>
  </div>
</div>

<div class="sub_nav">
  <div class="container">
    <ul class="topnav">
      <%= nav_link 'Overview', helping_path %>
      <%= nav_link 'Teach or TA', teaching_path %>
      <%= nav_link 'Organize an Event', organizing_path %>
      <%= nav_link 'Host an Event', hosting_path %>
      <%= nav_link 'Interest Form', interest_form_path %>
    </ul>
  </div>
</div>
