<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container test_container">
      <%= render 'layouts/breadcrumbs' %>
      <div class="content">
        <div class="side_bar">
            <%= render 'layouts/side_nav' %>
  <!-- 
            <div class='feature-list'>
              <div class='feature clearfix feature-1'>
                <div class="feature-icon icon-3x icon-globe"></div>
                <h4>Finding a workshop to attend</h4>
                <ul>
                  <li>There are RailsBridge workshops in over a dozen cities. Our <%= link_to "Chapters page", chapters_path %> can help you find a worskhop in your area. And if there isn't one planned, we can <%= link_to "help you set one up", organizing_path %>!</li>
                </ul>
              </div>
            </div>
            
            

  -->
        </div>
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
