!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "RailsBridge.org"
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1" }
    %meta{ content: content_for?(:description) ? yield(:description) : "RailsBridge", name: "description" }
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body
    = render "layouts/header"
    = render "layouts/top_nav"
    .content
      = yield
    -# .side-bar
      =# render "layouts/side_nav"
    = render "layouts/current"
    = render "layouts/footer"

/
  .feature-list
    .feature.clearfix.feature-1
      .feature-icon.icon-3x.icon-globe
      %h4 Finding a workshop to attend
      %ul
        %li There are RailsBridge workshops in over a dozen cities. Our = link_to "Chapters page", chapters_path  can help you find a worskhop in your area. And if there isn't one planned, we can = link_to "help you set one up", organizing_path !