%html
  %head
    %title= content_for?(:title) ? yield(:title) : "RailsBridge.org"
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1" }
    %meta{ content: content_for?(:description) ? yield(:description) : "RailsBridge", name: "description" }
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body{ class: (params[:controller]), id: (params[:action]) }
    = render "layouts/header"
    .container
      - if @suppress_sidenav
        = yield
      - else
        .row-fluid
          .span2
            = render "layouts/side_nav"
          .span10
            .content
              = yield

    = render "layouts/footer"