<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<div class="container">
  <%= render 'layouts/breadcrumbs' %>
  <%- if @suppress_sidenav %>
    <%= yield %>
  <%- else %>
    <div class="span3">
      <%= render 'layouts/sidenav' %>
    </div>
    <div class="span9">
      <div class='content'>
        <%= yield %>
      </div>
    </div>
  <%- end %>
</div>

<%= render 'layouts/footer' %>
</body>
</html>
