!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "RailsBridge.org"
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1" }
    %meta{ content: content_for?(:description) ? yield(:description) : "RailsBridge", name: "description" }
    %meta{ charset: "UTF-8" }
    = javascript_include_tag "application"
    = stylesheet_link_tag "application", media: "all"
    = analytics_init if Rails.env.production?
    = csrf_meta_tags
  %body{ class: (params[:controller]), id: (params[:action]) }
    = render "layouts/header"
    = render "layouts/subnav"
    = render "layouts/home_header" if params[:action] == 'home'
    .container
      .content
        - flash.each do |name, msg|
          %div{ class: "alert alert-#{name == :notice ? 'success' : 'danger'}" }= msg

        = yield

    = render "layouts/footer"
