<!DOCTYPE html>
<html>
<head>
  <title>Railsbridge</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<div class="container">
  <%= render 'layouts/breadcrumbs' %>
  <div class="row">
    <%- if @suppress_sidenav %>
      <%= yield %>
    <%- else %>
      <div class="span3">
        <%= render 'layouts/sidenav' %>
      </div>
      <div class="span9">
        <div class='content'>
          <%= yield %>
        </div>
      </div>
    <%- end %>
  </div>
  <p class="row work-in-progress">
    This site is a work in progress! Send UX feedback to lillie dot chilen at gmail dot com
  </p>
</div>

<%= render 'layouts/footer' %>
</body>
</html>
